.footer {
  width: 100%;
  background: #52708B !important;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  position: absolute;
  bottom: 0;
  font-family: "Lato", "sans-serif";
  font-size: 18px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 10px;
}
.footer p {
  color: black;
}
.footer-links a:hover {
  opacity: 1;
  color: white;
}
.footer .fa-heart {
  color: #D23333;
}
