<% provide(:title, "Home") %>
<div class="main-wrapper home-background img-responsive">
  <div class="banner">
     <section class="home-first-section">
      <div class="home-maintitle-box">
        <h1>EzMarkt</h1>
        <div class="home-mainparagraph-box">
          <p>Buy, sell, fast and for free, from all over the world</p>
        </div>
      </div>
    </section>
          <section class="home-second-section">
       <form action="products" class="form-inline">
         <input  name="term" type="text" class="form-control input-lg form-input" placeholder="What are you looking for?">
         <input type="submit" class="btn btn-primary btn-lg" value="Search">
       </form>
     </section>
  </div>
    <section class="container" id="home-latest-products-box">
      <div class="row">
        <% @productsample.each do |x| %>
        <div class="col-sm-6 col-md-4 col-lg-3 home-random-product">
          <div class="card"><%= x.picture? ? (link_to image_tag(x.picture_url, :alt => x.name), product_path(x)) : image_tag("https://via.placeholder.com/250x250", class: "img-responsive card-img") %>
            <!-- , class: "img-responsive" -->
          </div>
        </div>
        <% end %>
      </div>
    </section>
</div>
