<% provide(:title, "Home") %>
<%= form_tag products_path, method: :get do %>
  <%= text_field_tag 'term', params[:term], placeholder: "What are you looking for?", :required => true %>
  <%= submit_tag 'Search!' %>
<% end %>
<br>
<h2>Latest product on sell!</h2>
<% @productsample.each do |x| %>
<div>
  <%= x.picture? ? (link_to image_tag(x.picture_url, :alt => x.name), product_path(x)) : image_tag("https://via.placeholder.com/250x250") %>
</div>
<br>
<% end %>
