<div class="items-container">
  <% @products.each do |product| %>
  <% if product.ordinable%>
      <div class="menu-items">
        <%= product.name %><br>
        <%= product.description %><br>
        <%= humanized_money_with_symbol(product.price)%><br>
        <%= link_to "Show Product", product_path(product) %>
      </div>
      <% end %>
    <% end %>
</div>
