<div class="items-container">
    <div class="menu-items">
    <%= @product.name %><br>
    <%= @product.tagline %><br>
    <%= @product.description %><br>
    <%= @product.price %>
    </div>
</div>
