<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/levisn1" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.linkedin.com/in/luis-carlos-quarta-71388833/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
  </div>
  <div class="footer-copyright">
    <p>This site was made with <i class="fa fa-heart"></i> by Luis Carlos Quarta</p>
  </div>
</div>
